<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medical-certificate-heading" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.home.createOrEditLabel">Create or edit a Medical Certificate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.numberMedicalCertificate" for="field_numberMedicalCertificate">Number Medical Certificate</label>
                    <input type="text" class="form-control" name="numberMedicalCertificate" id="field_numberMedicalCertificate"
                           formControlName="numberMedicalCertificate"/>
                    <div *ngIf="editForm.get('numberMedicalCertificate')!.invalid && (editForm.get('numberMedicalCertificate')!.dirty || editForm.get('numberMedicalCertificate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberMedicalCertificate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.endDateMedicalCertificate" for="field_endDateMedicalCertificate">End Date Medical Certificate</label>
                    <div class="input-group">
                        <input id="field_endDateMedicalCertificate" type="text" class="form-control" name="endDateMedicalCertificate" ngbDatepicker #endDateMedicalCertificateDp="ngbDatepicker" formControlName="endDateMedicalCertificate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateMedicalCertificateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('endDateMedicalCertificate')!.invalid && (editForm.get('endDateMedicalCertificate')!.dirty || editForm.get('endDateMedicalCertificate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endDateMedicalCertificate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.validMedicalCertificate" for="field_validMedicalCertificate">Valid Medical Certificate</label>
                    <input type="checkbox" class="form-control" name="validMedicalCertificate" id="field_validMedicalCertificate"
                           formControlName="validMedicalCertificate"/>
                    <div *ngIf="editForm.get('validMedicalCertificate')!.invalid && (editForm.get('validMedicalCertificate')!.dirty || editForm.get('validMedicalCertificate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validMedicalCertificate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.descMedicalCertificate" for="field_descMedicalCertificate">Desc Medical Certificate</label>
                    <input type="text" class="form-control" name="descMedicalCertificate" id="field_descMedicalCertificate"
                           formControlName="descMedicalCertificate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.doc" for="field_doc">Doc</label>
                    <select class="form-control" id="field_doc" name="doc" formControlName="docId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="docOption.id" *ngFor="let docOption of docs; trackBy: trackById">{{ docOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.medicalCertificate.membership" for="field_membership">Membership</label>
                    <select class="form-control" id="field_membership" name="membership" formControlName="membershipId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="membershipOption.id" *ngFor="let membershipOption of memberships; trackBy: trackById">{{ membershipOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
