<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="association">
            <h2><span jhiTranslate="mgmtBaseNautiqueApp.association.detail.title">Association</span> {{ association.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mgmtBaseNautiqueApp.association.numberAssociation">Number Association</span></dt>
                <dd>
                    <span>{{ association.numberAssociation }}</span>
                </dd>
                <dt><span jhiTranslate="mgmtBaseNautiqueApp.association.nameAssociation">Name Association</span></dt>
                <dd>
                    <span>{{ association.nameAssociation }}</span>
                </dd>
                <dt><span jhiTranslate="mgmtBaseNautiqueApp.association.imageAssociation">Image Association</span></dt>
                <dd>
                    <div *ngIf="association.imageAssociation">
                        <a (click)="openFile(association.imageAssociationContentType, association.imageAssociation)">
                            <img [src]="'data:' + association.imageAssociationContentType + ';base64,' + association.imageAssociation" style="max-width: 100%;" alt="association image"/>
                        </a>
                        {{ association.imageAssociationContentType }}, {{ byteSize(association.imageAssociation) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mgmtBaseNautiqueApp.association.descAssociation">Desc Association</span></dt>
                <dd>
                    <span>{{ association.descAssociation }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/association', association.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
