<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-conge-police-heading" jhiTranslate="mgmtBaseNautiqueApp.congePolice.home.createOrEditLabel">Create or edit a Conge Police</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.numberCongePolice" for="field_numberCongePolice">Number Conge Police</label>
                    <input type="text" class="form-control" name="numberCongePolice" id="field_numberCongePolice"
                           formControlName="numberCongePolice" readonly/>
                    <div *ngIf="editForm.get('numberCongePolice')!.invalid && (editForm.get('numberCongePolice')!.dirty || editForm.get('numberCongePolice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberCongePolice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.endDateCongePolice" for="field_endDateCongePolice">End Date Conge Police</label>
                    <div class="input-group">
                        <input id="field_endDateCongePolice" type="text" class="form-control" name="endDateCongePolice" ngbDatepicker #endDateCongePoliceDp="ngbDatepicker" formControlName="endDateCongePolice"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateCongePoliceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('endDateCongePolice')!.invalid && (editForm.get('endDateCongePolice')!.dirty || editForm.get('endDateCongePolice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endDateCongePolice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.validCongePolice" for="field_validCongePolice">Valid Conge Police</label>
                    <input type="checkbox" class="form-control" name="validCongePolice" id="field_validCongePolice"
                           formControlName="validCongePolice"/>
                    <div *ngIf="editForm.get('validCongePolice')!.invalid && (editForm.get('validCongePolice')!.dirty || editForm.get('validCongePolice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validCongePolice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.descCongePolice" for="field_descCongePolice">Desc Conge Police</label>
                    <input type="text" class="form-control" name="descCongePolice" id="field_descCongePolice"
                           formControlName="descCongePolice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.doc" for="field_doc">Doc</label>
                    <select class="form-control" id="field_doc" name="doc" formControlName="docId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="docOption.id" *ngFor="let docOption of docs; trackBy: trackById">{{ docOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mgmtBaseNautiqueApp.congePolice.vehicle" for="field_vehicle">Vehicle</label>
                    <select class="form-control" id="field_vehicle" name="vehicle" formControlName="vehicleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehicleOption.id" *ngFor="let vehicleOption of vehicles; trackBy: trackById">{{ vehicleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
